---
interface Props {
    title: string;
    desc: string;
    author?: string;
}

const { desc, title, author } = Astro.props;

let url = new URL(Astro.request.url);
const site = Astro.site?.toString();
const page_url = site + url.pathname.substring(1);
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="index, follow" />
        <link rel="icon" href="/favicon.svg" />
        { author && <meta property="og:author" content={author}/>}

        <title>{title}</title>
        <meta property="og:title" content={title} />
        <meta property="og:site_name" content={site} />

        <meta name="description" content={desc} />
        <meta property="og:description" content={desc} />

        <meta property="og:type" content="website" />
        <meta property="og:locale" content="en-us" />
        <meta property="og:image" content="/logo.png" />
        <meta property="og:url" content={page_url} />
        <link rel="canonical" href={page_url} />

        <script src="/back.js" defer is:inline/>
    </head>
    <body>
        <slot />
    </body>
</html>
<style>
    body {
        max-width: 1500px;
        margin: auto;
    }
    footer {
        color: var(--faded);
        bottom: 0;
        text-align: center;
        margin-bottom: 15px;
    }
</style>
<style is:global>
    :root {
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;

        --header-size: 3rem;
        --header-weight: 800;

        --subheader-size: 2.5rem;
        --subheader-weight: 100;

        --shadow: 5px 5px;
        --shadow-hover: 2px 2px;

        --fade-in: 250ms;
        --fade-out: 100ms;

        --text: white;
        --bg: #191919;

        --second: #A0A0A0;
        --faded: rgb(101, 101, 101);

        --primary: aqua;
        --secondary: rgb(201, 49, 49);
        --callout: rgb(131, 125, 255);
    }
    a {
        color: var(--second);
        text-decoration: underline;
        cursor: pointer;
    }
    a:visited {
        color: var(--faded);
    }
    a:hover {
        color: var(--text);
    }
    html {
        background-color: var(--bg);
        color: var(--text);
    }
    svg {
        transform: translateY(5px);
    }
    .small {
        display: none;
    }
    @media screen and (max-width: 650px) {
        .small {
            display: block;
        }
    }
    hr {
        border: none;
        background-color: var(--faded);
        height: 2px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
</style>
