---
import type { GetStaticPaths } from 'astro';
import { render } from 'astro:content';
import { getEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import Base from '../../../partials/base.astro';
import { collections } from '../../../content.config';

// generate the page
export const getStaticPaths = (async () => {
    let all = await getCollection("recipe");
    return all.map(e => {
        let path = e.id as string;
        let parts = path.split('/');
        let author = parts[0]
        let recipe = parts[1]
        
        return ({
            params: {recipe: recipe, author: author},
            props: { article: e }
        })
    });
}) satisfies GetStaticPaths;

// produce the page
const { article } = Astro.props;
const { Content } = await render(article);

const {title, author, date, tags} = article.data;

let a = await getCollection(author.collection);

let auth_obj = await getEntry(
    author.collection,
    `${author.id}/author`.replaceAll(' ', '-').toLowerCase(),
);

let author_url = null
if (auth_obj) {
    author_url = "/author/" + auth_obj.id.split('/')[0]
}

---
<Base title={title} desc=`${title} by ${author}` author={author.id}>
    <div>
        <header>
            <h1>{title}</h1>
            <div id="links">
            <span><a href="/">Home</a></span>
            { author_url && <span><a href={author_url}>Author</a></span> }
            <span><a id="back">Back</a></span>
            </div>
        </header>
        <hr>
        <article>
            <Content />
        </article>
		<hr>
        <h3>Tags</h3>
		<ul>	
			{tags.map(e => <li><a id=`tag-${e}` href=`/tag/${e}` >{e}</a></li>)}
		</ul>	
    </div>
</Base>
<style>
    header {
        display: flex;
        flex-direction: column;
        margin: 40px;
        align-items: center;
    }
    h1 {
        margin: 0;
        text-align: center;
    }
    #links {
        display: flex;
        gap: 0.5em;
    }
    h2 {
        margin: 0;
        padding: 10px;
    }
    article {
        max-width: 800px;
        width: 90%;
        margin: auto;
    }
    h3 {
        text-align: center;
        font-size: 1.5rem;
        margin: 0;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }
    li {
        list-style: none;
        padding-left: 10px;
        padding-right: 10px;
    }
</style>
<!-- is:global is required to reach inside the Content element -->
<style is:global>
    img {
        width: 100%;
        max-width: 400px;
        max-height: 400px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        display: block;
        border-radius: 10px;
    }
</style>
